@model IEnumerable<ASPIntro.Models.Osoba>

@{
    ViewData["Title"] = "Indeks";
}

<h1>Osobe</h1>

<p>
    <a asp-action="Create">Unesite novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrTelefona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmeni</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
